<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
    <body>
        <div class="navbar bg-base-100">
            <div class="navbar-center">
              <a class="btn btn-ghost text-xl">Marvin HBD</a>
            </div>
            <div class="navbar-end">
              <a href="/" class="btn btn-square btn-ghost">
                <-
              </a>
            </div>
          </div>
        <div class="max-w-lg mx-auto p-5">
    
            <form action="/add" method="post">
                <div class="mb-6">
                    <label for="name" class="text-sm font-medium text-white block mb-2">ชื่อของคุณ</label>
                    <input type="text" id="name" name="name" class="border border-gray-300 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Your Name" required="">
                </div>
                <div class="mb-6">
                    <label for="wish" class="text-sm font-medium text-white block mb-2">คำอวยพร</label>
                    <textarea type="text" name="wish" id="wish" class="border border-gray-300 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Your Wish" required=""></textarea>
                </div>
                <button type="submit" class="w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">ส่งคำอวยพร</button>
            </form>
    </body>
</html>