<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl">Marvin HBD</a>
      </div>
      <div class="navbar-center">
        <a class="btn btn-square btn-ghost text-md">ของขวัญ</a>
      </div>
      <div class="navbar-end">
        <a href="/add" class="btn btn-square btn-ghost text-md">
          เพิ่มคำอวยพร
        </a>
      </div>
    </div>
  <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 gap-4 p-5">
    <% for (var i = 0; i < data.length; i++) { %>
    <div class="card bordered">
      <div class="card-body">
        <p><%= data[i].wish %></p>
      </div>
      <div class="card-footer p-3">
        <p class="text-md">By <%= data[i].name %></p>
      </div>
    </div>
    <% } %>
   

    
    <!-- Repeat the card div for as many cards as you need -->
  </div>
  </body>
</html>
